.cover{
  max-width: 1184px;
  width: 100%;
  margin: auto;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  min-height: 740px;
}
@media screen and (max-width: 1184px){
  .cover{
    min-height: 62.5vw;
  }
}
