.cover{
  max-width: 1184px;
  position: relative;
  width: 100%;
  margin: auto;
  background-image: url(../../images/cover-trains.jpg);
  background-size: contain;
}
.cover:before{
  display: block;
  padding-top: 62.5%;
  content: "";
}