.place__url-heading{
  font-size: 12px;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: 2px;
  margin: 0;
  color: #aaa;
}
@media screen and (max-width: 1023px){
  .place__url-heading{
    line-height: 100%;
  }
}